<h1>Events</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>Location</th>
      <% if user_signed_in? %>
      <th>Register to event</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= event.start_time %></td>
        <td><%= @locations.find_by_id(event.location).name %></td>
        <% if user_signed_in? %>
        <td><%= render 'register_event', event: event %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, class: 'btn btn-success btn-md' %>
