<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @location.name %>
</p>

<div id="map" style='width: 600px; height: 300px;'></div>

<br>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-info btn-md' %>
  <%= link_to 'Remove', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-md' %>
<% end %>
<%= link_to 'Back', events_path, class: 'btn btn-primary btn-md' %>

<% if user_signed_in? %>
<br><br>
<p>
  <strong>Are you going to attend this event?</strong>
  <%= render "register_event", event: @event %>
</p>

<h2>Registered users</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% @registered_users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<script>

function initialize() {

  var geocoder = new google.maps.Geocoder();
  geocoder.geocode( { 'address': "<%= @location.address %>"}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {

      var mapOptions = {
        zoom: 12,
        center: results[0].geometry.location
      }
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      
      var marker = new google.maps.Marker({
        position: results[0].geometry.location,
        map: map,
        title: '<%= @location.name %>'
      });
    } else {
      document.getElementById('map').style.display = 'none';
    }
  });
}

</script>
